# consider placing these instructions directly in your .bashrc or .zshrc file

# JAVA_HOME may already be set
#export JAVA_HOME=

# Be sure to set this to a valid installation of GemFire
export GEMFIRE=$HOME/Courses-Installed/GemFire-Developer-9.1.1a.RELEASE/pivotal-gemfire-9.1.1
export PATH=$PATH:$GEMFIRE/bin
